

.intro{
    grid-area: intro;
}
.pbujias{
    grid-area: pbujias;
}
.bujias{
    grid-area: bujias;
}
.inyeccion{
    grid-area: inyeccion;
}
.pinyeccion{
    grid-area: pinyeccion;
}
.paceleracion{
    grid-area: paceleracion;
}
.aceleracion{
    grid-area: aceleracion;
}
.sensores{
    grid-area: sensores;
}
.psensores{
    grid-area: psensores;
}
.pcorrea{
    grid-area: pcorrea;
}
.correa{
    grid-area: correa;
}
.valvulas{
    grid-area: valvulas;
}
.videoSincro{
    grid-area: videoSincro;
}
.padreSincro{
    display: grid;
    margin: 20px 80px;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "intro intro"
    "pbujias bujias"
    "inyeccion pinyeccion"
    "paceleracion aceleracion"
    "sensores psensores"
    "pcorrea pcorrea"
    "correa valvulas"
    "videoSincro videoSincro";
    justify-items: center;
    align-items: center;
    .parrafo{
        font-family:'Roboto', sans-serif;
        font-weight: bolder;
        font-size: 25px; 
        text-align: center;
        line-height: 40px;
        letter-spacing: 2px;
        word-spacing: 6px;
        color: rgb(49, 5, 5);
        background-color: darkgray;  
        border: 5px solid black; 
    }
}
.imgs{
    border: 5px solid black; 
    width: 540px;
    height: 430px;
}