@import "generales";
@import "logosMarcas";
@import "grillaIndex";
@import "grillaSincronizacion";
@import "grillaFreno";
@import "grillaSuspension";
@import "grillaEscaner";
@import "contactos";






@media (max-width:1023px){
    h1{
        font-size: 60px;
        margin: 5px; 
        padding: 15px;
    }
    
}

@media (max-width:600px){
    header{
        padding: 0px;
    }
    .principal{
        font-size: 15px;
        margin: 0px;
    }
    .gradiente{
        margin: 0px;   
        h1{
            font-size: 36px;
            margin: 12px; 
            padding: 20px;
        } 
    }
    footer{
        margin: 10px;
        .flexfooter{
            width: 60px;
        } 
    }
    
}